
/* PRODUCT DETAIL PAGE */

.product-detail{
    text-align: center;
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
   
}

.view-product{
    width: 350px;
    background-color: rgb(173, 173, 146);
    padding: 10px 5px;
    border-radius: 10px;
    cursor: pointer;
}
.view-product img{
    width: 235px;
    height: 40vh;
    border-radius: 10px;
    margin-top: 15px;
}
.view-product p{
    margin-top: 10px;
    font-size: 16px;
    font-weight: 600;
}
.add-to-cart{
    margin-top: 8px;
    outline: 0;
    border: 0;
    padding: 8px 13px;
    border-radius: 10px;
    font-size: 13px;
    background-color: black;
    color: white;
    font-weight: 700;
    letter-spacing: 2px;
    font-family: cursive;
    cursor: pointer;
    text-decoration: none;
}
.item-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 270px;
}
.item-details p{
    margin-top: 8px;
    font-size: 16px;
    font-weight: 600
}
.buttons input{
    width: 60px;
    margin-top: 10px;
    padding: 9px 5px;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    margin-left: 8px;
}